.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 50px;
}

.tags {
    color: #52494D;
    opacity: 0.6;
    position: absolute;
    bottom: 50px;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html {
    margin-left: -20px;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.container.about-page,
.container.portfolio-page {
        h1 {
            font-size: 53px;
            font-family: sans-serif;
            color: #52494D;
            font-weight: 550;
            margin-top: 0;
            position: relative;
            margin-bottom: 30px;
            left: 0px;   
        }

        p {
            font-size: 14px;
            color: #52494D;
            font-family: sans-serif;
            font-weight: 500;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }
            &:nth-of-type(2) {
                animation-delay: 1.2s;
            }
            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
            &:nth-of-type(4) {
                animation-delay: 1.4s;
            }
            &:nth-of-type(5) {
                animation-delay: 1.5s;
            }
            &:nth-of-type(6) {
                animation-delay: 1.6s;
            }
            &:nth-of-type(7) {
                animation-delay: 1.7s;
            }
        }

        .text-zone {
            position: absolute;
            left: 10%;
            transform: translateY(-50%);
            width: 45%;
            vertical-align: middle;
            display: table-cell;
            max-height: 5%;
    }

    .text-animate-hover {
        &:hover {
            color: #B991A3;
        }
    }


}